include includes/base.pug
block content
  nav 
  if (!user.isConnected)
    ul
      li
        a(href="/login") Se connecter 
  else 
      li 
        a(href="/comment") Faire une remarque 
  br
  hr
  br
  if (user.isConnected) 
    h1 Bienvenue #{user.pseudo} ! 
  else
    h1 Bienvenue #{req.session.pseudo} !